#root {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.calendar-app-container {
  height: 100vh;
}

.calendar-app-screen {
  width: 100%;
  height: 100%;
  display: flex;
}

.groups-toolbar {
  width: 10%;
  height: 100%;
}

.toolbar-calendar-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toolbar {
  width: 100%;
  height: 40px;
  justify-content: right;
  display: flex;
  flex-direction: row;
}

.current-displayed-group {
  height: 60%;
  width: 90%;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.user-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.group-name-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.group-user-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 10%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  height: 50px;
  margin-right: 10px;
}

.invited-user-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 10%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  height: 50px;
  margin-right: 10px;
  opacity: 0.3;
}

.are-you-sure-you-want-to-leave-buttons {
  display: flex; 
  flex-direction: row;
}

.group-scheduler-logo {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 40px;
}

.group-scheduler-logo > * {
    margin-right: 20px;
}