
.create-group-container {
    margin-top: 100px;
}

.create-group-screen {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%; 
}

.create-group-screen > * {
    margin-bottom: 20px;
}

.add-user-field {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-user-form {
    width: 100%;
}

.add-user-input-field {
    width: 100%;
}


